body{
    background: darkkhaki;
    font: normal 15pt Helvetica
    ;
}
header {
    color: rgb(85, 6, 6);
    text-align: center;
}
section {
    text-align: center;
    background: darkseagreen;
    border-radius: 20px;
    padding: 18px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgb(0, 0, 0)

}#num {
    width: 50px;
    text-align: center;
    height: 20px;
    border-radius: 4px;
    font-size: 14pt;
    background: wheat;
    
}#gerar {
    width: 150px;
    height: 30px;
    font-size: 12pt ;
    border-radius: 20px;
    background: darkcyan;
    box-shadow: black;

}
#tab {
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background: rgb(177, 223, 238);
    font-size:  15pt;
}
#clear {
    font-size: 12pt;
    border-radius: 8px;
    background: lightgrey;
    box-shadow: black;
    height: 25px;
}